body {
  padding: 0;
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}

/* 设置连接线鼠滑样式 */
.jtk-connector.jtk-hover {
  cursor: pointer;
}

/* 设置端点鼠滑样式 */
.jtk-endpoint.jtk-hover {
  cursor: pointer;
}


#visobox {
  position: relative;
  width: 80%;
  height: 600px;
  margin: 20px auto;
}

#operate {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 100;
  padding: 20px;
  border: 2px solid #ddd;
  background-color: #eee;
}

#operate .viso-item + .viso-item {
  margin-top: 10px;
}

#operate .viso-item {
  width: 50px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: rgb(14, 158, 184);
  font-size: 12px;
  text-align: center;
  color: #eee;
}

#operate .operate-item button {
  width: 100%;
}

#operate .operate-item + .operate-item {
  margin-top: 10px;
}

#diagramContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-image: url(./images/grid.jpeg);
  background-repeat: repeat;
  user-select: none;
}

#diagramContainer .jtk-overlay-label {
  padding: 0 2px;
  font-size: 12px;
  line-height: 15px;
  color: #333;
  background-color: #fff;
  opacity: 0.8;
}
#diagramContainer .viso-item {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: 1px solid #ddd;
  font-size: 12px;
  color: #eee;
  background-color: rgb(9, 116, 116);
  cursor: pointer;
}

#diagramContainer .viso-input {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  text-align: center;
  color: #eee;
  background: none;
}


#diagramContainer .viso-close {
  position: absolute;
  right: 0;
  top: -20px;
  z-index: 10;
  display: none;
  width: 15px;
  height: 20px;
  font-size: 15px;
  line-height: 20px;
  font-family: "Segoe UI","Lucida Grande",Helvetica,Arial;
  cursor: pointer;
  color: #666;
}

#diagramContainer .viso-close:hover {
  color: #333;
}

#diagramContainer .viso-start {
  width: 80px;
  height: 30px;
  border-radius: 10px;
  background-color: orange;
}
#diagramContainer .viso-start .viso-input {
  background-color: orange;
}

#diagramContainer .viso-end {
  width: 80px;
  height: 30px;
  border-radius: 10px;
  background-color: green;
}
#diagramContainer .viso-end .viso-input {
  background-color: green;
}

#diagramContainer .viso-task {
  width: 100px;
  height: 50px;
  background-color: rgb(9, 116, 116);
}
#diagramContainer .viso-task .viso-input {
  background-color: rgb(9, 116, 116);
}

#diagramContainer .viso-gateway {
  width: 80px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(44, 120, 192);
}
#diagramContainer .viso-gateway .viso-input {
  background-color: rgb(44, 120, 192);
}

#diagramContainer .diagram-item.select {
  background-color: rgb(20, 85, 85);
}